
body {
    background-color: #2c3e50;
}

header {
    background-color: #294977;
}
.content {
    width: calc(1000vw -40);
    height: 995px;
    padding: 1em;
    
}
header {
    grid-area: header;
    filter: drop-shadow(2px 2px 5px rgba(0,0,0,0.25));
}

.twitch_video {
	height: 500px;
	width: 820.20582px;
}
/* Font Changing */

.desc h3 {
    margin-top: -50px;
    font-weight: 100;
    color: #a9b3bd;
}
p {
    width: 500px;
    line-height: 1.4em;
}
.sameline {
    display: flex;
    justify-content: space-beteen;
}

.calendar {
    width: 700px;
    margin-top: -100px;
}

.half-left {
    padding-left: 411px;
}

.half-right {
    padding-right: 400px;
}

@media screen and (max-width: 1600px) {
    .half-left {
        padding-left: 100px;
        margin-top: -50px;
    }
    .half-right {
        padding-right: 200px;
    }
    .calendar {
        width: 400px;
    }
}


@media screen and (max-width: 1700px) {
    .half-left {
        padding-left: 300px;
        margin-top: -50px;
    }
    .half-right {
        padding-right: 200px;
    }
    .calendar {
        width: 600px;
    }
}

@media screen and (max-width: 1416px) {
    .half-left {
        padding-left: 200px;
        margin-top: -50px;
    }
    .half-right {
        padding-right: 100px;
    }
    .calendar {
        width: 400px;
    }
}

@media screen and (max-width: 1440px) {
    .half-left {
        padding-left: 200px;
    }
    .half-right {
        padding-right: 100px;
    }
    .calendar {
        width: 500px;
        margin-top: -75px;
    }
}

@media screen and (max-width: 1332px) {
    .half-left {
        padding-left: 50px;
    }
    .half-right {
        padding-right: 50px;
    }
    .calendar {
        width: 500px;
        margin-top: -75px;
    }
}



/* Responsive */

@media screen and (max-width: 375px) {
    
    .twitch_video {
        height: 125px;
        width: 205.051455px;
    }

    .content p {
        width: 200px;
        margin-left: calc(50% - 100px);
    }

    .content {
        height: 850px;
    }

}

@media screen and (max-width: 771px) {

    .twitch_video {
        height: 250px;
        width: 410.10291px;
    }

    .content {
        height: 700px;
    }
}

@media screen and (max-width: 425px) {

    .twitch_video {
        height: 125px;
        width: 205.051455px;
    }

    .content p {
        width: 275px;
        margin-left: calc(50% - 137.5px);
    }

    .content {
        height: 750px;
    }

}



.half-left {
    text-align: left;
}

.about {
    color: rgb(45, 129, 202);
    font-size: 1em;
}

.aboutbg {
    font-size: 3em;
    margin-top: -10px;
}

@media screen and (max-width: 1024px) {
    .grid-wrapper {
        display: block;
    }
    .left-half, .right-half {
        margin-top: 10px;
    }
    .grid-wrapper-equal-thirds {
        display: block;
    }
    .left-third, .middle-third, .right-third  {
        margin: 0 0 0 0 ;
    }
    .grid-wrapper-two-thirds {
        display: block;
    }
    .left-two-thirds, .right-one-third    {
        margin-bottom: 0;
    }
    .grid-wrapper-right-two-thirds {
        display: block;
    }
    .left-one-third , .right-two-thirds {
        margin-bottom: 0;
    }
    .grid-wrapper-equal-fourths {
        display: block;
    }
    .half-left {
        padding-left: calc(50% - 250px); 
    }
    .half-right {
        padding: 0; 
    }
    .calendar {
        margin-top: 30px;
    }

}

@media screen and (max-width: 425px) {
    p {
        width: 300px;
    }

    .half-left {
        margin-left: calc(50% - 150px);
        margin-top: -250px;
    }
    .calendar {
        width: 300px;
        margin-top: 5px;
    }
}

@media screen and (max-width: 320px) {
    p {
        width: 250px;
    }

    .half-left {
        margin-left: calc(50% - 150px);
        margin-top: -250px;
    }
    .calendar {
        width: 250px;
        margin-top: 5px;
    }
}