body {
    background-color: #2c3e50;
}

.grid-wrapper {
    margin-top: 1px;
    height: 870px;
    padding: 0 5em 0 5em;
}

.grid-wrapper-equal-thirds {
    margin-bottom: 70px;
}

.twitch_video {
	height: 500px;
    width: 820.20582px;
    margin-top: 150px;
}

.half-left {
    text-align: left;
    margin-top: 190px;
}

.about {
    font-size: 1em;
    color: rgb(45, 129, 202);
}

.aboutbg {
    font-size: 4em;
    width: 200px;
    margin-top: -5px;
}

p {
    margin-top: -5px;
    color: rgb(216, 216, 216);
    width: 550px;
    margin-bottom: 35px;
}

.counting {
    color: rgb(45, 129, 202);
    font-size: 1.5em;
    font-weight: 700;
}
.sameline {
    display: flex;
    justify-content: space-beteen;
}

.fas {
    margin: 0 20px 0 180px;
}

@media screen and (max-width: 375px) {
    .half-left {
        padding: 0!important; 
        text-align: center;
    }
    .about {
        margin-top: -150px;
    }
    .aboutbg {
        font-size: 2em!important;  
        width: 209px;      
    }
    p {
        width: 220px;
        margin-left: calc(50% - 110px);
    }
    .twitch_video {
        height: 125px!important;
        width: 205px!important;
        margin-top: 20px!important;
        margin-left: calc(50% - 143.75px)!important;
    }
    .fas {
        margin: 40px 20px 0 110px;
    }
    .descip {
        margin-top: 40px;
    }
    .grid-wrapper {
        height: 630px!important;
        padding: 0;
    }
    article {
        padding: 0;
    }
}

@media screen and (max-width: 425px) {
    .half-left {
        padding: 0!important; 
        text-align: center;
    }
    .about {
        margin-top: -150px;
    }
    .aboutbg {
        font-size: 2em!important;  
        width: 259px;   
        margin-left: calc(50% - 129.5px);   
    }
    p {
        width: 260px;
        margin-left: calc(50% - 130px);
    }
    .half-right {
        padding: 0;
    }
    .twitch_video {
        height: 162.5px;
        width: 307.5px;
        margin-top: 20px;
    }
    .fas {
        margin: 40px 20px 0 110px;
    }
    .descip {
        margin-top: 40px;
    }
    .grid-wrapper {
        height: 700px;
    }
}

@media screen and (max-width: 768px) {
    .grid-wrapper {
        display: block;
    }
    .left-half, .right-half {
        margin: 0px;
    }
    .grid-wrapper-equal-thirds {
        display: block;
    }
    .left-third, .middle-third, .right-third  {
        margin: 0 0 0 0 ;
    }
    .grid-wrapper-two-thirds {
        display: block;
    }
    .left-two-thirds, .right-one-third    {
        margin-bottom: 0;
    }
    .grid-wrapper-right-two-thirds {
        display: block;
    }
    .left-one-third , .right-two-thirds {
        margin-bottom: 0;
    }
    .grid-wrapper-equal-fourths {
        display: block;
    }

    .half-left {
        padding: 0!important; 
        text-align: center;
    }
    .aboutbg {
        font-size: 2em!important;  
        width: 259px!important;   
        margin-left: calc(50% - 129.5px);   
    }
    p {
        width: 640px!important;
        margin-left: calc(50% - 320px);
    }
    .half-right {
        padding: 0;
    }
    .twitch_video {
        height: 324px;
        width: 615px;
        margin-top: 20px;
    }
    .fas {
        margin: 40px 20px 0 290px!important;
    }
    .descip {
        margin-top: 40px;
    }
    .grid-wrapper {
        height: 700px;
    }
}

@media screen and (max-width: 1024px) {
    .grid-wrapper {
        padding: 0;
    }
    p {
        width: 370px;
    }
    .twitch_video {
        height: 300px;
        width: 492px;
        margin-top: 150px;
    }
    .half-left {
        margin-top: 70px;
    }
    .grid-wrapper {
        height: 690px;
    }
    .fas {
        margin: 0 20px 0 80px;
    }
}

@media screen and (max-width: 1440px) {
    .twitch_video {
        height: 300px;
        width: 492px;
        margin-top: 140px;
    }
    .fas {
        margin: 0 20px 0 150px;
    }
    
}